node_modules
.idea
.DS_Store

# ignore all files in any directory named `secret` and  `data`
secret

data


# except files ending in `.template` or `.md`
!**/secret/*.template
!**/secret/*.md

# ignore .vagrant directory
.vagrant

# and the VSCode typings directory
typings